<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!--
        add/create: 跳转到添加页或者打开添加操作的模态窗口
        save:执行添加操作
        edit:跳转到修改页,打开修改操作的模态窗口
        update:执行修改操作
        get:执行查询操作

        特殊操作:
            login等
    -->


    <!--设置字符编码的过滤器接口-->
    <filter>
        <filter-name>filter</filter-name>
        <filter-class>com.hz.crm.web.filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!--防止恶意登录的过滤器接口-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.hz.crm.web.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!--监听全局作用域对象创建,存放数据字典-->
    <listener>
        <listener-class>com.hz.crm.web.listener.SysInitListener</listener-class>
    </listener>
    <!--登录控制器-->
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>com.hz.crm.settings.web.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/setting/user/login.do</url-pattern>
    </servlet-mapping>

    <!--工作台控制器-->
    <servlet>
        <servlet-name>activityServlet</servlet-name>
        <servlet-class>com.hz.crm.workbench.web.controller.ActivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>activityServlet</servlet-name>
        <url-pattern>/workbench/activity/getUserList.do</url-pattern>
        <url-pattern>/workbench/activity/insertActivity.do</url-pattern>
        <url-pattern>/workbench/activity/pageList.do</url-pattern>
        <url-pattern>/workbench/activity/deleteActivity.do</url-pattern>
        <url-pattern>/workbench/activity/getUserListAndActivity.do</url-pattern>
        <url-pattern>/workbench/activity/updateActivity.do</url-pattern>
        <url-pattern>/workbench/activity/detail.do</url-pattern>
        <url-pattern>/workbench/activity/getRemarkListById.do</url-pattern>
        <url-pattern>/workbench/activity/deleteRemarkById.do</url-pattern>
        <url-pattern>/workbench/activity/insertActivityRemark.do</url-pattern>
        <url-pattern>/workbench/activity/updateActivityRemark.do</url-pattern>
    </servlet-mapping>

    <!--线索控制器-->
    <servlet>
        <servlet-name>clueServlet</servlet-name>
        <servlet-class>com.hz.crm.workbench.web.controller.ClueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clueServlet</servlet-name>
        <url-pattern>/workbench/clue/getUserList.do</url-pattern>
        <url-pattern>/workbench/clue/insertOneClue.do</url-pattern>
        <url-pattern>/workbench/clue/detail.do</url-pattern>
    </servlet-mapping>
    <!--字典控制器-->
    <servlet>
        <servlet-name>dicServlet</servlet-name>
        <servlet-class>com.hz.crm.settings.web.controller.DicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dicServlet</servlet-name>
        <url-pattern>/settings/Dic/xxx.do</url-pattern>
    </servlet-mapping>
</web-app>
